<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>34D270A2-BF6E-4897-AE0B-23D725508738</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>072BB5FB-B7D2-4282-951A-93FEC9D889C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>518A650D-E160-411E-9041-52116BFE7482</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>072BB5FB-B7D2-4282-951A-93FEC9D889C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Anubhav Dinkar</string>
	<key>description</key>
	<string>Takes a backup of the Movie and TV show DB</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Backup MTV</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>backup</string>
				<key>subtext</key>
				<string>You will need to enter your MySQL password</string>
				<key>text</key>
				<string>Takes a backup of the Watched DB</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>34D270A2-BF6E-4897-AE0B-23D725508738</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>mkdir -p ~/Projects/MTV_DB/.backups/ &amp;&amp; mysqldump -u anubhavdinkar -p Watched &gt; ~/Projects/MTV_DB/.backups/mtvDB.sql</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>072BB5FB-B7D2-4282-951A-93FEC9D889C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>518A650D-E160-411E-9041-52116BFE7482</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>072BB5FB-B7D2-4282-951A-93FEC9D889C4</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>34D270A2-BF6E-4897-AE0B-23D725508738</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>518A650D-E160-411E-9041-52116BFE7482</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://www.github.com/abunav6/MTV_DB</string>
</dict>
</plist>
