<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>017A00B1-E3E2-4474-87D6-FEC1192172CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3ECCC977-16A6-4455-93E6-177AC7A5E3EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82DEB130-99D6-4579-8D59-BF848EF88521</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE5D83C5-A7F7-45DB-B9B9-BB963D9B0AFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4893F7E-3675-49EF-BD64-65F37C0DC402</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A01E66A8-E314-4F3A-93C1-094FA0D24CC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A922214A-A112-4BCC-97BD-369F0C5D342D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42E4B9D9-89C8-435E-B960-25DDD7F21A48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB81C667-1BAC-46F0-AF29-166E16CEAD89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6721B1DC-7E08-4C40-815E-03D806AC1B76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Open the class meeting links with just the subject keywords</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Online Classes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://meet.google.com/cub-pewc-wto?pli=1&amp;authuser=2</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6721B1DC-7E08-4C40-815E-03D806AC1B76</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bl4</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Opens the Broadband meeting link</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FB81C667-1BAC-46F0-AF29-166E16CEAD89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mrs</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Opens the Microwave and Radiating Systems class</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A4893F7E-3675-49EF-BD64-65F37C0DC402</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://meet.google.com/bhb-kwnk-crj?pli=1&amp;authuser=2</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A01E66A8-E314-4F3A-93C1-094FA0D24CC2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hpc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Opens the High Performance Computing class</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A922214A-A112-4BCC-97BD-369F0C5D342D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://meet.google.com/lookup/d5apasm6xu?authuser=0&amp;hs=179</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>42E4B9D9-89C8-435E-B960-25DDD7F21A48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://meet.google.com/yaa-usqc-yjs?pli=1&amp;authuser=2</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3ECCC977-16A6-4455-93E6-177AC7A5E3EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mmc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Opens the Multimedia Communication class</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>017A00B1-E3E2-4474-87D6-FEC1192172CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>iot</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Opens the IoT class</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>82DEB130-99D6-4579-8D59-BF848EF88521</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://meet.google.com/ooj-mqma-qcr?pli=1&amp;authuser=2</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FE5D83C5-A7F7-45DB-B9B9-BB963D9B0AFC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>017A00B1-E3E2-4474-87D6-FEC1192172CC</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>3ECCC977-16A6-4455-93E6-177AC7A5E3EC</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>42E4B9D9-89C8-435E-B960-25DDD7F21A48</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>6721B1DC-7E08-4C40-815E-03D806AC1B76</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>82DEB130-99D6-4579-8D59-BF848EF88521</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>A01E66A8-E314-4F3A-93C1-094FA0D24CC2</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>A4893F7E-3675-49EF-BD64-65F37C0DC402</key>
		<dict>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>A922214A-A112-4BCC-97BD-369F0C5D342D</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>FB81C667-1BAC-46F0-AF29-166E16CEAD89</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>FE5D83C5-A7F7-45DB-B9B9-BB963D9B0AFC</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
