<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.abunav.mtv</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0FC606E0-9A52-40FD-9795-CA6B146C9E14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7AB4595-3A87-42F2-A481-2287F78DA9A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62DC1038-44A3-4860-AEC7-ED9064CC40F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0FFE5C7-A687-45D2-8931-753FB19816F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3FF287E-54E4-4B86-83B2-AB37F1DEC96B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FAF29842-0C7F-4D75-BB75-4F54830D1504</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C001B1C6-3C15-4906-808E-075C83798AF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3FF287E-54E4-4B86-83B2-AB37F1DEC96B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0FFE5C7-A687-45D2-8931-753FB19816F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB7385C7-93FA-4CF3-A9B4-2AFA496A4C1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAF29842-0C7F-4D75-BB75-4F54830D1504</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Anubhav Dinkar</string>
	<key>description</key>
	<string>This will add a movie that you have watched to the database</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Add Movie/TV show to Watched</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>add movie</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add "{query}" to the Movie database</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A3FF287E-54E4-4B86-83B2-AB37F1DEC96B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>cd ~/Projects/MTV_DB &amp;&amp; python3 from_alfred.py "m" "{query}" &amp;&amp; cd ~</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>FAF29842-0C7F-4D75-BB75-4F54830D1504</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C001B1C6-3C15-4906-808E-075C83798AF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>cd ~/Projects/MTV_DB &amp;&amp; python3 from_alfred.py "t" "{query}" &amp;&amp; cd ~</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>AB7385C7-93FA-4CF3-A9B4-2AFA496A4C1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>62DC1038-44A3-4860-AEC7-ED9064CC40F7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>add show</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Adds "{query}" to the TV show DB</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E0FFE5C7-A687-45D2-8931-753FB19816F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd ~/Projects/MTV_DB &amp;&amp; source venv2/bin/activate &amp;&amp; python gui.py &amp;&amp; cd ~</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>F7AB4595-3A87-42F2-A481-2287F78DA9A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mtv</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Launches the MTV GUI</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0FC606E0-9A52-40FD-9795-CA6B146C9E14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0FC606E0-9A52-40FD-9795-CA6B146C9E14</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>62DC1038-44A3-4860-AEC7-ED9064CC40F7</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>A3FF287E-54E4-4B86-83B2-AB37F1DEC96B</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>AB7385C7-93FA-4CF3-A9B4-2AFA496A4C1E</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>C001B1C6-3C15-4906-808E-075C83798AF2</key>
		<dict>
			<key>xpos</key>
			<integer>125</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>E0FFE5C7-A687-45D2-8931-753FB19816F6</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>F7AB4595-3A87-42F2-A481-2287F78DA9A4</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>FAF29842-0C7F-4D75-BB75-4F54830D1504</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://www.github.com/abunav6/MTV_DB</string>
</dict>
</plist>
