<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.leenno.terminalfinder</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>4684BDC3-567A-4F7B-A52F-3300F45EEC78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17BF1163-1E8E-426C-8572-225093B55B4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76584C39-BB00-4E7D-9BE0-4ACCBB2829F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7113EA2C-468F-40D5-B2AA-C7E5E3D020A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F6BDDEE-BAB4-4E22-9F3A-24DC1E43EF95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7113EA2C-468F-40D5-B2AA-C7E5E3D020A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>964C67AF-870F-420E-8B91-6079B9457583</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17BF1163-1E8E-426C-8572-225093B55B4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>LeEnno</string>
	<key>description</key>
	<string>Open currently selected Finder (or Path Finder) window in Terminal (or iTerm2) and vice versa</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TerminalFinder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ft</string>
				<key>subtext</key>
				<string>Open current Finder directory in Terminal</string>
				<key>text</key>
				<string>Finder → Terminal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>76584C39-BB00-4E7D-9BE0-4ACCBB2829F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Finder"
    set pathList to (quoted form of POSIX path of (folder of the front window as alias))
  end tell
  
  tell application "System Events"
    if not (exists (processes where name is "Terminal")) then
      do shell script "open -a Terminal " &amp; pathList
    else
      tell application "Terminal"
        activate
        if (count of windows) is 0 then
          do script ("cd " &amp; pathList)
        else
          tell application "System Events" to tell process "Terminal.app" to keystroke "t" using command down
          delay 1
          do script ("cd " &amp; pathList) in first window
        end if
      end tell
    end if
  end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>7113EA2C-468F-40D5-B2AA-C7E5E3D020A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7F6BDDEE-BAB4-4E22-9F3A-24DC1E43EF95</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tf</string>
				<key>subtext</key>
				<string>Open current Terminal directory in Finder</string>
				<key>text</key>
				<string>Terminal → Finder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>964C67AF-870F-420E-8B91-6079B9457583</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Terminal"
    do script "open -a Finder ./" in first window
  end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>17BF1163-1E8E-426C-8572-225093B55B4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4684BDC3-567A-4F7B-A52F-3300F45EEC78</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>17BF1163-1E8E-426C-8572-225093B55B4E</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>4684BDC3-567A-4F7B-A52F-3300F45EEC78</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>7113EA2C-468F-40D5-B2AA-C7E5E3D020A4</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>76584C39-BB00-4E7D-9BE0-4ACCBB2829F6</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>7F6BDDEE-BAB4-4E22-9F3A-24DC1E43EF95</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>964C67AF-870F-420E-8B91-6079B9457583</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.ienno.de</string>
</dict>
</plist>
