<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>EC6D383B-0B0D-4D0D-A311-76BF2223D420</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>845F5884-8ED9-45B5-988A-E0489742805E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F402E587-3A52-424B-8B50-110FA6933526</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5A1CFAF-9615-4AC7-8AF9-EB8CD408064C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Running this will prevent the Mac from sleeping when the lid is closed</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Don't Sleep</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nosleep</string>
				<key>subtext</key>
				<string>Remember to run 'sleep' if you want to reverse this</string>
				<key>text</key>
				<string>This will prevent the Mac from sleeping when the lid is closed</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EC6D383B-0B0D-4D0D-A311-76BF2223D420</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/.scripts/DontSleep.myscript</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>845F5884-8ED9-45B5-988A-E0489742805E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sleep</string>
				<key>subtext</key>
				<string>Run after the nosleep command to restore default</string>
				<key>text</key>
				<string>This will restore the defaul sleep setting</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F402E587-3A52-424B-8B50-110FA6933526</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/.scripts/Sleep.myscript</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D5A1CFAF-9615-4AC7-8AF9-EB8CD408064C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>845F5884-8ED9-45B5-988A-E0489742805E</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>D5A1CFAF-9615-4AC7-8AF9-EB8CD408064C</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>EC6D383B-0B0D-4D0D-A311-76BF2223D420</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>F402E587-3A52-424B-8B50-110FA6933526</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
