<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>578C04F7-E631-49A0-9458-75FE1BF50C34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B858259A-CF90-486E-A45F-AB1E529C34FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Upload a file on Google Drive after copying its path to clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Drive Upload</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd /Users/anubhavdinkar/.scripts/Google\ Drive\ Upload/ &amp;&amp; python3 upload_drive.py "{query}"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>B858259A-CF90-486E-A45F-AB1E529C34FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>2</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>578C04F7-E631-49A0-9458-75FE1BF50C34</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>578C04F7-E631-49A0-9458-75FE1BF50C34</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>B858259A-CF90-486E-A45F-AB1E529C34FC</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
